.toolbar{
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 250;
    background-color: #f2f2f2;
    height: 8vh;
}
.toolbarLogo {
    margin-left: 1rem;
}

.toolbarLogo a{
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
}
.toolbarLogo img{
    background-color: #f2f2f2;
    width: 35%;
}
.toolbarNavigation{ 
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.toolbarNavItems a{
    text-decoration: none;
}
.toolbarNavItems ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.toolbarNavItems li{
    padding: 0.5rem;
}
.toolbarNavItems a:active{
    text-decoration: none;
}